<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.glomadrian.mytaxi.vehiclemap">

  <application>
    <activity
        android:name="com.github.glomadrian.mytaxi.vehiclemap.ui.VehicleMapContainer"
        android:theme="@style/NoAnimationTransparent">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="vehicles-map"
            android:scheme="mytaxi" />
      </intent-filter>
    </activity>
  </application>
</manifest>
